header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* flex-shrink: 0; */

    border-radius: 0.625rem;
    background: #900082;
    
}

h1 {
    color: #FFF;
    text-align: center;
    font-family: Josefin Sans;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.03rem;
}

#source {
    display: flex;
    justify-content: left;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0.3125rem;
}

#sourceTitle {
    color: #FFF;
    text-align: center;

    /* TranslateWord */
    font-family: Josefin Sans;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.015rem;
}

sourceInput {
    width: 7rem;
    height: 1rem;
    padding: 0.0625rem 0.125rem;
    align-items: center;
    gap: 0.625rem;

    border: 0.5px solid #000;
    background: #F3BBED;
}

#saveSource {
    all: unset;
    width: 1rem;
    height: 1rem;
    border-radius: 5px;
}

.sidebar {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


/* remplacer <li> par une div avec class="wordBox" */
li {
    display: flex;
    flex-direction: row;
    height: 50px;
    margin:5px;
    padding: 2px;
}

.word {
    color: #65005B;
    text-align: center;

    /* TranslateWord */
    font-family: Josefin Sans;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.015rem;
}

.launchSearch {
    width: 1.25rem;
    height: 1.25rem;
    flex-shrink: 0;
}
/* <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M7.08333 11.6667H7.74167L7.975 11.4417C7.15833 10.4917 6.66667 9.25833 6.66667 7.91667C6.66667 4.925 9.09167 2.5 12.0833 2.5C15.075 2.5 17.5 4.925 17.5 7.91667C17.5 10.9083 15.075 13.3333 12.0833 13.3333C10.7417 13.3333 9.50833 12.8417 8.55833 12.025L8.33333 12.2583V12.9167L4.16667 17.075L2.925 15.8333L7.08333 11.6667ZM12.0833 11.6667C14.1583 11.6667 15.8333 9.99167 15.8333 7.91667C15.8333 5.84167 14.1583 4.16667 12.0833 4.16667C10.0083 4.16667 8.33333 5.84167 8.33333 7.91667C8.33333 9.99167 10.0083 11.6667 12.0833 11.6667Z" fill="#020202"/>
</svg> */

.translationInput {
    color: #000;
    text-align: center;
    font-family: Josefin Sans;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.015rem;
    height: 25px;
}

.saveTranslation {
    width: 1.25rem;
    height: 1.25rem;
    flex-shrink: 0;
}
/* <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
  <path d="M7.33335 13.25L3.83335 9.74999L2.66669 10.9167L7.33335 15.5833L17.3334 5.58332L16.1667 4.41666L7.33335 13.25Z" fill="#020202"/>
</svg> */

.delete {
    width: 1.25rem;
    height: 1.25rem;
    flex-shrink: 0;
}
/* <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M15.8334 5.34166L14.6584 4.16666L10 8.82499L5.34169 4.16666L4.16669 5.34166L8.82502 9.99999L4.16669 14.6583L5.34169 15.8333L10 11.175L14.6584 15.8333L15.8334 14.6583L11.175 9.99999L15.8334 5.34166Z" fill="#FF0000"/>
</svg> */

.line {
    width: 18.75rem;
    height: 0.0625rem;
    background: #E59DDE;
}